{% for image in images %}
	<div class="gal-block">
		<a href="{{ imgpath }}{{ image.filename }}" target="_blank"><img class='pic' src="{{ thumbpath }}{{ image.filename }}"></a><br>
		Clicks: {{ image.views }}<br>
		ID: {{ image.id }}<br>
	</div>
{% endfor %}
