<!--
Made using a pending bootpag commmit fixing bootstrap 4 compatablility issues
https://github.com/botmonster/jquery-bootpag/commit/c13c4f65e23e94601c00a37117aff1fd4d294bbe
-->

<html>
  <head>
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="4_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

   </head>
	<body>
	    {% include '4_header.tmpl' %}
		<p>Welcome to the {{ title }}!</p>


    <div class="text-center">

      <div id="page-selection"></div>
      
      <div id="page-content" class="main-block"></div>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="scripts/jquery.bootpag.min.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
          url : 'fetchData.php',
          type: 'GET',

          success: function(data){
              $('#page-content').html(data);
          }
        });
        //$("#pg-results").load("fetchData.php");
        $("#page-selection").bootpag({
            total: {{ total_pages }},
            page: 1,
            /*maxVisible: 3*/
        }).on("page", function(e, page_num){
            e.preventDefault();
            /*$("#results").prepend('<div class="loading-indication"><img src="ajax-loader.gif" /> Loading...</div>');*/
            $("#page-content").load("fetchData.php", {"page": page_num});
        });
    });
    </script>

  </body>
</html>
